.image {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;
    animation: scale 4s infinite linear;
       
}


@keyframes scale {
    100% {
         transform: scaleX(2) scaleY(2);
    }
}